<h2>Loan Calculator</h2>
<!-- initial form -->
<div id="deadCenter">
    @{Html.RenderAction("Form", "Loan", new { isStart = true });}
</div>
<!-- result -->
<div class="container">
    <div hidden id="result">
        @{Html.RenderAction("Form", "Loan", null);}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
            <li role="presentation"><a href="#chart" aria-controls="chart" role="tab" data-toggle="tab">Chart</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="table"></div>
            <div role="tabpanel" class="tab-pane" id="chart">
                <canvas id="loanChart" style="max-height: 1000px;"></canvas>
            </div>
        </div>
    </div>
</div>
<a href="https://github.com/drrky-g/LoanCalc/" target="_blank">Repo</a>
<!-- code preview -->
@{Html.RenderAction("Loan", "Code", null);}