<style>
    body{
        background: white !important;
    }
</style>

<div>
    <input id="rate" type="number" placeholder="Interest Rate" />
    <input id="months" type="number" placeholder="Months" />
    <input id="amount" type="number" placeholder="Loan Amount" />
    <button onclick="get()">Request</button>
    <div id="result"></div>
</div>
<canvas id="chart" style="max-height: 1000px;"></canvas>
<script>
    function get() {
        document.getElementById('result').innerHTML = '';
        let r = document.getElementById('rate').value;
        let m = document.getElementById('months').value;
        let a = document.getElementById('amount').value;
        let baseUrl = "/loan/chart";
        let qString = "?amount=" + a + "&months=" + m + "&rate=" + r;
        fetch(baseUrl + qString)
        .then((response) => {
            return response.json();
        }).then((chartData) => {
            //your code here.....
            console.log(chartData);
            new Chart($('#chart'), {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: 'Interest Payment',
                            data: chartData.barData,
                            order: 1
                        },
                        {
                            label: 'Principle Payment',
                            data: chartData.lineData,
                            type: 'line',
                            order: 2
                        }
                    ],
                    labels: chartData.labels
                }
            })
        })
    }
</script>
