<h2>Loan Calculator</h2>
<div id="deadCenter">
    <form id="centerForm">
        <input class="form-control" id="monthCount" type="number" placeholder="Term in Months" />
        <input class="form-control" id="loanAmount" type="number" placeholder="Amount of Loan ($)" />
        <input class="form-control" id="interest" type="number" placeholder="Interest Rate (%)" />
        <button class="btn myButton" id="calculate">Calculate</button>
    </form>
</div>
<div hidden id="tableArea"></div>
<a target="_blank" href="https://github.com/drrky-g/LoanCalc">Repo</a>

